{% extends "base.html" %}

{% block content %}
{% load static %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action ="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.ccounter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    {% if user.is_authenticated %}
    <button class="btn btn-primary" type="submit">Vote</button>
    {% else %}
    <button class="btn btn-primary" type="submit" disabled>Vote</button>
    <p><a href="{% url 'login'%}?next={{request.path}}">Log in</a> to vote!</p>
    {% endif %}
</form>
{% endblock content %}
